h1{
  color: red;
}

.container {
  width: 200px;
  height: 200px;
  border: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 30px;
}